﻿@{
    ViewBag.Title = "Home Page";
}
@using PagedList.Mvc;
@model FizzBuzz.Web.Models.FizzBuzzViewModel
<script type="st">


</script>

<h3>Fizz Buzz Program</h3>

<form id="FizzBuzzForm" method="post" style="padding-top:15px;">
    <div class="row">
        <div class="col-xs-1">Limit:</div>
        <div>
            @Html.TextBoxFor(m => m.InputNumber)
            <span style="color:red">@Html.ValidationMessageFor(m => m.InputNumber)</span>
        </div>
    </div>
    <div class="row" style="padding-top:15px;">
        <div class="col-xs-1"><input type="submit" name="Submit" value="Submit" /></div>
    </div>

    @if (Model.InputNumber > 0 && Model.Records != null)
    {
        <div class="row" style="padding:15px;">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr><th colspan="10"> Result</th></tr>
                    </thead>
                    <tbody>

                        @foreach (var number in Model.Records)
                        {
                            <tr>
                                <td class="@number">
                                    @number
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model.Records, page => Url.Action("Index", new { page, Model.InputNumber }))
            </div>
        </div>
    }
</form>
